[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
qiskit = "*"
matplotlib = "*"
pylatexenc = "*"
qulacs = "*"
ipykernel = "*"
jupyter = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.8"
